:root {
    --couleur-primaire : #8dd0de;
    h1 { 
        color: #8dd0de;    
    }

    h2, h3 {
       color: #8dd0de;
    }
}

.jaune {
   background-color: #fcc133;
}


.beige {
   background-color: #f5ede0;
   color: #fcc133;
}